@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  a[href],
  button,
  input,
  textarea,
  select,
  details,
  [tabindex]:not([tabindex='-1']) {
    @apply outline-none focus:outline-none ring-black focus-visible:ring-2 ring-offset-2 transition;
  }
}
